.settings {
  display: flex;
  align-items: center;
  opacity: 0.3;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 1;
  }

  &.alwaysVisible {
    opacity: 1;
  }
}

.item {
  margin-left: 30px;

  &:first-child {
    margin-left: 0;
  }
}
