.root {
  position: absolute;
  white-space: nowrap;
  font-weight: 300;
  color: #717b88;
}

.link {
  cursor: pointer;
  color: #000;
}

.copied {
  opacity: 0;
  color: #3d9900;
  font-weight: 400;
  transition: opacity 0.23s ease;

  &.visible {
    opacity: 1;
  }
}


@include media-mobile {

  .root {
    top: 20px;
    right: 20px;
    font-size: vwx(16);
  }
  
  .link {
    padding: 0 vwx(10);
  }

  .copied {
    position: absolute;
    top: 24px;
    right: 0;
  }
}

@include media-except-mobile {

  .root {
    top: 20px;
    left: 50%;
    line-height: 20px;
    font-size: 16px;
    transform: translate3d(-50%, 0, 0);
  }
  
  .link {
    padding: 0 10px;
  }
}
