.page {
  display: flex;
  min-height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--bg-color);

  :global(.theme-light) & {
    @include light-theme;
  }

  :global(.theme-dark) & {
    @include dark-theme;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1vw 2vw 1vw 1vw;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  min-width: 1px;
  padding: 0.5vw;
}
