.warning {
  display: none;
}

.page {
  display: flex;
  background-color: var(--bg-color);

  :global(.theme-light) & {
    @include light-theme;
  }

  :global(.theme-dark) & {
    @include dark-theme;
  }
}


@media (max-width: 879px) {

  .page {
    height: 100%;
  }

  .content {
    flex: none;
    width: 100vw;
    padding: 0 vw(4) vw(4);
  }
}

@media (min-width: 880px) {

  .page {
    min-height: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 1px;
    padding: 0 8px 8px;
  }
}

@media screen and (orientation:portrait) and (max-width: 879px) {

  .warning {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .icon {
    width: 100px;
    height: 100px;
    color: var(--brand-color);

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
