$size: 50px;
$primary-color: #000;


.cubeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size * 2;
  height: $size * 2;
  text-align: center;
}

.cubeFolding {
  width: $size;
  height: $size;
  display: inline-block;
  transform: rotate(45deg);
  font-size: 0;

  span {
    position: relative;
    width: $size / 2;
    height: $size / 2;
    transform: scale(1.1);
    display: inline-block;

    &::before {
      content: '';
      background-color: $primary-color;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: $size/2;
      height: $size/2;
      -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      animation: folding 2.50s infinite linear both;
    }
  }

  .leaf2 {
    transform: rotateZ(90deg) scale(1.1);

    &::before {
      animation-delay: .30s;
      background-color: darken($primary-color, 5%);
    }
  }

  .leaf3 {
    transform: rotateZ(270deg) scale(1.1);

    &::before {
      animation-delay: .90s;
      background-color: darken($primary-color, 5%);
    }
  }

  .leaf4 {
    transform: rotateZ(180deg) scale(1.1);

    &::before {
      animation-delay: .60s;
      background-color: darken($primary-color, 10%);
    }
  }
}

@keyframes folding {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
