.cardCount {

  &.red {
    color: $red-team-color;

    @include dark-theme {
      color: #a0183e;
    }
  }

  &.blue {
    color: $blue-team-color;

    @include dark-theme {
      color: #2e5dc3;
    }
  }
}
