.teammateContainer {
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }

  &.redTeam {

    .spyIcon {
      left: auto;
      right: calc(100% + 10px);
    }
  }

  &.spymaster {

    .spyIcon {
      visibility: visible;
      opacity: 1;
    }
  }
}

.teammate {
  position: relative;
  display: inline-block;
}

.name {
  display: block;
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spyIcon {
  position: absolute;
  left: calc(100% + 10px);
  top: 2px;
  display: block;
  width: 14px;
  height: 14px;
  visibility: hidden;
  opacity: 0;
}
