.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px 0;
}

.logo {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  min-height: 1px;
  padding-bottom: 50px;
}

.button {
  height: 60px;
  cursor: pointer;
  padding: 0 30px;
  margin-left: 8px;
  background-color: #000;
  font-weight: 200;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
}
