.cell {
  padding-top: 30px;

  &:first-child {
    padding-right: 40px;
    text-align: right;
  }
}

.labelContainer {
  position: relative;
}

.label {
  text-align: right;
  font-weight: 200;
  font-size: 24px;
  color: #717b88;

  &.disabled {
    opacity: 0.5;
  }
}

.values {
  display: flex;
  margin: -12px;
}

.value {
  position: relative;
  margin: 12px;
  cursor: pointer;
  user-select: none;
  font-weight: 300;
  font-size: 24px;
  color: #000;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 1px;
    transition: background-color 0.23s ease;
  }

  &:hover {

    &::after {
      background-color: #8b99a7;
    }
  }

  &.active {

    &::after {
      background-color: #000 !important;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
    color: #717b88;

    &:hover {
      
      &::after {
        background-color: transparent;
      }
    }
  }
}

.dev {
  position: absolute;
  right: calc(100% + 16px);
  white-space: nowrap;
  font-weight: 200;
  font-size: 24px;
  color: #f10741;
}
