.cell {
  padding-top: 30px;
}

.label {
  padding-right: 40px;
  text-align: right;
  font-weight: 200;
  font-size: 28px;
  color: #717b88;
}

.values {
  display: flex;
  margin: -12px;
}

.value {
  position: relative;
  margin: 12px;
  cursor: pointer;
  user-select: none;
  font-weight: 300;
  font-size: 28px;
  color: #000;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 1px;
    transition: background-color 0.23s ease;
  }

  &:hover {

    &::after {
      background-color: #8b99a7;
    }
  }

  &.active {

    &::after {
      background-color: #000;
    }
  }
}
