.settings {
  position: fixed;
  bottom: 8px;
  right: 16px;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(#fff, 0.9);
  opacity: 0.3;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 1;
  }

  &.alwaysVisible {
    opacity: 1;
  }
}

.item {
  margin-left: 30px;

  &:first-child {
    margin-left: 0;
  }
}
