.switch {
  position: relative;
  border: 0;
  outline: none;
  cursor: pointer;
  @include basic-transition(left);

  :global(.theme-light) & {
    background-color: var(--brand-color);
  }

  :global(.theme-dark) & {
    background-color: #fff;
  }
}

.handle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: #fff;
  border-radius: 50%;
  @include basic-transition(left);

  :global(.theme-dark) & {
    background-color: #000;
  }
}


@media (max-width: 879px) {

  .small {
    width: 20px;
    height: 12px;
    border-radius: 6px;

    :global(.theme-dark) & {

      .handle {
        left: calc(100% - 10px);
      }
    }

    .handle {
      left: 2px;
      width: 8px;
      height: 8px;
    }
  }

  .big {
    width: vw(44);
    height: vw(20);
    border-radius: vw(10);

    :global(.theme-dark) & {

      .handle {
        left: calc(100% - #{vw(18)});
      }
    }

    .handle {
      left: vw(2);
      width: vw(16);
      height: vw(16);
    }
  }
}

@media (min-width: 880px) {

  .small {
    width: 24px;
    height: 14px;
    border-radius: 7px;

    :global(.theme-dark) & {

      .handle {
        left: calc(100% - 12px);
      }
    }

    .handle {
      left: 2px;
      width: 10px;
      height: 10px;
    }
  }

  .big {
    width: 44px;
    height: 20px;
    border-radius: 10px;

    :global(.theme-dark) & {

      .handle {
        left: calc(100% - 18px);
      }
    }

    .handle {
      left: 2px;
      width: 16px;
      height: 16px;
    }
  }
}
