// Weight

.weight-thin {
  font-weight: 200;
}

.weight-light {
  font-weight: 300;
}

.weight-normal {
  font-weight: 400;
}

.weight-semibold {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

// Case

.uppercase {
  text-transform: uppercase;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

// Font Style

.italic {
  font-style: italic;
}

// Color

.muted,
.gray {
  color: #b2b2b2;
}

.black {
  color: #000;
}

// Align

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

// Misc.

.letterSpacing {
  letter-spacing: 0.042em;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.noWrap {
  white-space: nowrap;
}


@include media-mobile {

  .size-56-56 {
    font-size: vwx(56);
    line-height: vwx(56);
  }

  .size-48-56 {
    font-size: vwx(48);
    line-height: vwx(56);
  }

  .size-38-56 {
    font-size: vwx(38);
    line-height: vwx(56);
  }

  .size-38-48 {
    font-size: vwx(38);
    line-height: vwx(48);
  }

  // backward compatibility for h1
  .size-32-40 {
    font-size: vwx(32);
    line-height: vwx(40);
  }

  .size-28-40 {
    font-size: vwx(28);
    line-height: vwx(40);
  }

  .size-22-32 {
    font-size: vwx(22);
    line-height: vwx(32);
  }

  .size-20-24 {
    font-size: vwx(20);
    line-height: vwx(24);
  }

  .size-18-24 {
    font-size: vwx(18);
    line-height: vwx(24);
  }

  .size-16-24 {
    font-size: vwx(16);
    line-height: vwx(24);
  }

  .size-16-20 {
    font-size: vwx(16);
    line-height: vwx(20);
  }

  .size-14-24 {
    font-size: vwx(14);
    line-height: vwx(24);
  }

  .size-14-16 {
    font-size: vwx(14);
    line-height: vwx(16);
  }

  .size-12-24 {
    font-size: vwx(12);
    line-height: vwx(24);
  }

  .size-12-16 {
    font-size: vwx(12);
    line-height: vwx(16);
  }

  .type-error {
    margin-top: vwx(5);
    font-size: vwx(12);
    line-height: vwx(13);
    text-align: center;
  }
}

@include media-except-mobile {

  .size-56-56 {
    font-size: 56px;
    line-height: 56px;
  }

  .size-48-56 {
    font-size: 48px;
    line-height: 56px;
  }

  .size-38-56 {
    font-size: 38px;
    line-height: 56px;
  }

  .size-38-48 {
    font-size: 38px;
    line-height: 48px;
  }

  // backward compatibility for h1
  .size-32-40 {
    font-size: 32px;
    line-height: 40px;
  }

  .size-28-40 {
    font-size: 28px;
    line-height: 40px;
  }

  .size-22-32 {
    font-size: 22px;
    line-height: 32px;
  }

  .size-20-24 {
    font-size: 20px;
    line-height: 24px;
  }

  .size-18-24 {
    font-size: 18px;
    line-height: 24px;
  }

  .size-16-24 {
    font-size: 16px;
    line-height: 24px;
  }

  .size-16-20 {
    font-size: 16px;
    line-height: 20px;
  }

  .size-14-24 {
    font-size: 14px;
    line-height: 24px;
  }

  .size-14-16 {
    font-size: 14px;
    line-height: 16px;
  }

  .size-12-24 {
    font-size: 12px;
    line-height: 24px;
  }

  .size-12-16 {
    font-size: 12px;
    line-height: 16px;
  }
}
