html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  // background-image: url('./images/bg-stars.svg'), linear-gradient(180deg, #1e1456, #3d358a);
  background-image: url('/bg-stars.svg'), linear-gradient(180deg, #151515, #292642);
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#__next {
  height: 100%;
}

