@mixin light-theme {
  --bg-color: #fff;
  --brand-color: #4e35ff;
  --brand-darken-color: #4832e4;
  --text-color: #1C2460;
  --card-color: #f5f5f5;
  --card-hover-color: #e4e2ff;
  --card-red: #f53b42;
  --card-blue: #4d8ff7;
  --card-neutral: #fff1bf;
  --card-black: #000;
}

@mixin dark-theme {
  --bg-color: #28272f;
  --brand-color: #00ff8a;
  --brand-darken-color: #00d674;
  --text-color: #f5f5f5;
  --card-color: #2c2c32;
  --card-hover-color: #1e443f;
  --card-red: #f53b42;
  --card-blue: #4d8ff7;
  --card-neutral: #fff1bf;
  --card-black: #000;
}
