.board {
  --card-title-color: var(--text-color);
  display: grid;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--card-title-color);
  cursor: default;
  user-select: none;
  // transition: background-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--card-color);
    border-radius: 1vw;
  }

  .board.active:not(.spymaster):not(.finished) &:not(.revealed) {
    cursor: pointer;

    &:hover {

      &::after {
        background-color: var(--card-hover-color);
      }
    }
  }

  &.red,
  &.blue,
  &.neutral {
    cursor: default;
    color: #000;

    .cardTitle {
      opacity: 0.4;
    }
  }

  &.black {
    opacity: 1 !important;
    color: #fff !important;
  }

  &.red::after {
    background-color: var(--card-red);
  }

  &.blue::after {
    background-color: var(--card-blue);
  }

  &.neutral::after {
    background-color: var(--card-neutral);
  }

  &.black::after {
    background-color: var(--card-black);
  }

  .board.spymaster &,
  .board.finished & {

    .cardTitle {
      opacity: 1;
    }

    &.revealed {
      opacity: 0.4;
    }
  }
}

.cardTitle {
  position: relative;
  z-index: 2;
}


@media (max-width: 879px) {

  .board {
    padding-top: vw(8);
  }

  .card {

    &::after {
      top: vw(4);
      right: vw(4);
      bottom: vw(4);
      left: vw(4);
    }
  }

  .placeholder {
    padding: vw(8) vw(16);
    font-size: vw(16);
  }

  .cardTitle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: vw(17);
  }
}

@media (min-width: 880px) {

  .board {
    padding-top: 16px;
  }

  .card {

    &::after {
      top: 8px;
      right: 8px;
      bottom: 8px;
      left: 8px;
    }
  }

  .placeholder {
    display: none;
  }

  .cardTitle {
    padding: 20px;
    font-size: 22px;
  }
}
