.team {
  text-align: center;

  &.red {

    .title {
      color: $red-team-color;

      @include dark-theme {
        color: #a0183e;
      }
    }
  }

  &.blue {

    .title {
      color: $blue-team-color;

      @include dark-theme {
        color: #2e5dc3;
      }
    }
  }
}
