.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.content {
  padding-bottom: 30px;
}

.input {
  width: 300px;
  height: 50px;
  border: 0;
  border-bottom: 1px solid #8b99a7;
  border-right: 0;
  text-align: center;
  font-size: 30px;
  transition: border-color 0.23s ease;

  &:focus {
    border-bottom-color: #000;
  }
}

@mixin placeholder {
  font-size: 30px;
  font-weight: 200;
  color: #000;
  opacity: 1;
}

.input::placeholder {
  @include placeholder();
}

.input::-moz-placeholder {
  @include placeholder();
}

.input:-ms-input-placeholder {
  @include placeholder();
}

.input::-webkit-input-placeholder {
  @include placeholder();
}

.error {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #e90505;
}

.footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.tips {
  font-weight: 300;
  font-size: 18px;
  color: #717b88;
}
